<%= form_for(@countdown_page, url: @url, method: @method)  do |f| %>
  <% if @countdown_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@countdown_page.errors.count, "error") %> prohibited this countdown_page from being saved:</h2>

      <ul>
      <% @countdown_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="date_entry">
    <%= f.label :datepicker, "Date:" %>
    <div class = "text_input" id = "date_input"><%= f.text_field :datepicker %></div>
    <%= f.label :timepicker, "Time:" %>
    <div class = "text_input" id = "time_input"><%= f.text_field :timepicker %></div>
  </div>

    <% if @countdown_page.new_record? %>
      <%= f.fields_for :users do |p| %>
        <div class = "form_user_info">
          <div class = "gender_select">   
            <div class = "gender_select_header"><%=  p.object.index === 0 ? "Choose You:" : "Choose Them:" %></div>
            <div class = "gender_select_icon_selectbox">
              <%#= p.label :is_male, "Male" %>
              <%= image_tag "soondude.png",  class: "icon_img" %>
              <%= p.radio_button :is_male, true %>
            </div>
            <div class = "gender_select_icon_selectbox">
              <%#= p.label :is_male, "Female" %>
              <%= image_tag "soondudette.png", class: "icon_img" %>
              <%= p.radio_button :is_male, false %>
            </div>
          </div>
          <div class = "form_entry">
            <div class = "text_input"><%= p.text_field :name, autocomplete: "off" %></div>
            <%= p.label :name, (p.object.index === 0 ? "Your Name:" : "Their Name:") %>
          </div>
          <div class = "form_entry">
           <div class = "text_input"><%= p.text_field :email, autocomplete: "off" %></div>
            <%= p.label :email, (p.object.index === 0 ? "Your Email:" : "Their Email:") %>
          </div>
        </div>
      <% end %>
    <% end %>



  <div class="actions">
    <%= f.submit (@countdown_page.new_record? ? "GO!": "UPDATE!") %>
  </div>
<% end %>
