<%= form_for(@countdown_page) do |f| %>
  <% if @countdown_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@countdown_page.errors.count, "error") %> prohibited this countdown_page from being saved:</h2>

      <ul>
      <% @countdown_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <h3>Name Your Countdown:</h3>
      <%= f.text_field :name %>
    </div>

    <% if @countdown_page.new_record? %>
      <h3>Enter Information for Lovers:</h3>
      <%= f.fields_for :users do |p| %>
        <%= p.label :name, (p.object.index === 0 ? "Your Name:" : "Significant Other's Name:") %><%= p.text_field :name %>
        <%= p.label :email, "Email:" %><%= p.text_field :email %>
        <%= p.label :is_male, "Gender:" %>
          <%= p.radio_button :is_male, true %>
          <%= p.radio_button :is_male, false %>
          <br/>
      <% end %>
    <% end %>

    <div class="field">
    <h3>When Will You See Each Other?</h3>
    <%= f.label :datepicker, "Date:" %><%= f.text_field :datepicker %>
    <%= f.label :timepicker, "Time:" %><%= f.text_field :timepicker %>
    </div>

    <div class="field">
    <h3>Message to Significant Other:</h3>
    <%= f.text_area :notes %>
    </div>



  <div class="actions">
    <%= f.submit (@countdown_page.new_record? ? "Create Countdown": "Update Countdown") %>
  </div>
<% end %>
