<%= form_for(@countdown_page) do |f| %>
  <% if @countdown_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@countdown_page.errors.count, "error") %> prohibited this countdown_page from being saved:</h2>

      <ul>
      <% @countdown_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <h3>Name Your Countdown:</h3>
      <%= f.text_field :name %>
    </div>

    <h3>Enter Information for Lovers (including yourself):</h3>
    <%= f.fields_for :persons do |p| %>
      <%= p.label :name, "Name:" %><%= p.text_field :name %>
      <%= p.label :email, "Email:" %><%= p.text_field :email %>
      <%= p.label :gender, "Gender:" %>
        <%= p.radio_button :gender, true %>
        <%= p.radio_button :gender, false %>
        <br/>

    <% end %>

    <div class="field">
    <h3>When Will You See Each Other?</h3>
    <%= f.label :datepicker, "Date:" %><%= f.text_field :datepicker %>
    <%= f.label :timepicker, "Time:" %><%= f.text_field :timepicker %>
    </div>

    <div class="field">
    <h3>Message to Significant Other:</h3>
    <%= f.text_area :notes %>
    </div>



  <div class="actions">
    <%= f.submit (@countdown_page.new_record? ? "Create Countdown": "Update Countdown") %>
  </div>
<% end %>
