<%= form_for(@countdown_page) do |f| %>
  <% if @countdown_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@countdown_page.errors.count, "error") %> prohibited this countdown_page from being saved:</h2>

      <ul>
      <% @countdown_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label :owner, "Your Name:" %><br />
    <%= f.text_field :owner %>
    </div>

    <div class="field">
    <h3>When Will You See Each Other?</h3>
    <%= f.label :datepicker, "Date:" %><%= f.text_field :datepicker %>
    <%= f.label :timepicker, "Time:" %><%= f.text_field :timepicker %>
    </div>

    <div class="field">
    <%= f.label :notes, "Message to Significant Other:" %><br />
    <%= f.text_area :notes %>
    </div>



  <div class="actions">
    <%= f.submit "Create Countdown" %>
  </div>
<% end %>
