<h1>Listing countdown_pages</h1>

<table>
  <tr>
    <th>End date</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countdown_pages.each do |countdown_page| %>
  <tr>
    <td><%= countdown_page.end_date %></td>
    <td><%= countdown_page.owner %></td>
    <td><%= link_to 'Show', countdown_page %></td>
    <td><%= link_to 'Edit', edit_countdown_page_path(countdown_page) %></td>
    <td><%= link_to 'Destroy', countdown_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Countdown page', new_countdown_page_path %>
