<div id = "countdown-show">

<% if @is_finished %>
	<div id = "finished-countdown-container">
		<h3>YOU MADE IT!</h3>
	</div>
	
<% else %>
	<div id = "countdown-container">
		<h3>When Will I See You?</h3>
		<%= link_to 'Edit Countdown', edit_countdown_path(@countdown_page), class: "action_link" %>
	</div>

	<div id = "timeline-container">
	 	<%= image_tag (@user1.is_male ? "soondude.png": "soondudette.png"), class: "countdown-show-icon" %>
		<div id = "logo-spacer"><div id = "countdown-ticker">Countdown Loading...</div></div>
	 	<%= image_tag (@user2.is_male ? "soondude.png": "soondudette.png"), class: "countdown-show-icon reverse"  %>
	</div>
<% end %>



</div> <!-- CountdownPage-show -->

<%= javascript_tag do %>
	$(function() {
		<% if !@is_finished %>
  			createCountdown("<%= @countdown_page.end_date.to_s %>", "#countdown-ticker");
  		<% end %>	


	});
<% end %>
<script>
  
</script>
