<div id = "countdown-show">


	<div id = "countdown-container">
		<h3><%= @is_finished ? "You Made It!": "When Will I See You?" %></h3>

	<div id = "timeline-container">
	 	<%= image_tag (@user1.is_male ? "soondude.png": "soondudette.png"), class: "countdown-show-icon" %>
	 	<% if !@is_finished %>
			<div id = "logo-spacer">
				<div id = "countdown-ticker">Countdown Loading...</div>
			</div>
		<% end %>
	 	<%= image_tag (@user2.is_male ? "soondude.png": "soondudette.png"), class: "countdown-show-icon reverse"  %>
	</div>

	<%if @is_finished %>
		<div id = "finished-show-date"><%= @countdown_page.end_date.strftime('on %B %-d, %Y at %l:%M%P') %></div>
	<% else %>
		<div id = "show-options">
			<%= link_to 'Edit Countdown', edit_countdown_path(@countdown_page), class: "action_link" %>
			<%= link_to 'Permalink (for bookmarking)', countdown_path(@countdown_page), class: "action_link" %>
		</div>
	<% end %>
</div>



</div> <!-- CountdownPage-show -->

<%= javascript_tag do %>
	$(function() {
		<% if @is_finished %>
			$('.reverse').css('margin-left', '-90px');
		<% else %>
  			createCountdown("<%= @countdown_page.end_date.to_s %>", "#countdown-ticker");
  		<% end %>	


	});
<% end %>
<script>
  
</script>
