<p><%= @owner %> has created a personal countdown for you. Bookmark the link below to access it.</p>

<h3>"<%= @page.name %>"</h3>
<p><%= @url %></p>

<% if !@page.notes.blank? %>
	<p>Notes from <%= @owner %>:</p>
	<p>"<%= @page.notes %>"</p>
<% end %>