<!DOCTYPE html>
<html>
<head>
  <title>Soon</title>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css",  "application", :media => "all" %>

  <%= javascript_include_tag "application", "http://code.jquery.com/ui/1.10.4/jquery-ui.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
